@model IEnumerable<ShakaPlayerThumbnail.Data.Video>

@{
    ViewData["Title"] = "Video List";
}

<div class="container mt-5">
    <h2 class="mb-4">Uploaded Videos</h2>

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Video Title</th>
                <th scope="col">File Name</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var video in Model)
            {
                <tr>
                    <td>@video.Name</td>
                    <td>@video.FileName</td>
                    <td>@video.UploadDate.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>
                        <a href="@Url.Action("DisplayVideo", "Video")" class="btn btn-secondary mt-3">Upload Your First Video</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">No videos uploaded yet.</div>
        <a href="@Url.Action("Upload", "Video")" class="btn btn-secondary mt-3">Upload Your First Video</a>

    }
</div>